.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback-form__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 44px 40px;
    margin: 0 0 28px;
}

.feedback-form__btn {
    margin: auto 0 0;
    align-self: center;
}